# Python Machine Learning In Biology:
# Pandas Data Cleaning

In [1]:
import pandas as pd

## Review: Independent Exercise

Load the `drinks.csv` data.  

Perform the following:  

1. Print the head and tail.
2. Look at the index, columns, dtypes, and shape.
3. Assign the beer_servings column/Series to a variable.
4. Calculate summary statistics for beer_servings.
5. Calculate the mean of beer_servings.
6. Count the values of unique categories in continent. (.value_counts)
7. Print the dimensions of the drinks DataFrame.
8. Find the first three items of the value counts of the occupation column.

## Filtering and Sorting DataFrame

#### Filter drinks to include only European countries.

#### Filter drinks to include only European countries with wine_servings > 300.

#### Calculate the mean beer_servings for all of Europe.

#### Determine which 10 countries have the highest total_litres_of_pure_alcohol.

## Renaming, Adding, and Removing Columns

#### Rename `beer_servings` as `beer` and `wine_servings` as `wine` in the `drinks` DataFrame, returning a new DataFrame.

#### Perform the same renaming for `drinks`, but in place.

#### Replace the column names of drinks with `['country', 'beer', 'spirit', 'wine', 'liters', 'continent']`.

#### Make a `servings` column that combines `beer`, `spirit`, and `wine`.

#### Make an `mL` column that is the `liters` column multiplied by 1,000.

#### Remove the `mL` column, returning a new DataFrame.

#### Remove the `mL` and `servings` columns from drinks in place.

## Handling Missing Values

#### Include missing values from the `continent` variable in the `drinks` DataFrame when counting unique values.

#### Create a Boolean Series indicating which values are missing or not missing in `continents`.

#### Subset to rows in `drinks` where `continent` is missing and where `continent` is not missing.

#### Find the number of missing values by column in `drinks`.

#### Drop rows where ANY values are missing in `drinks` (returning a new DataFrame).

#### Drop rows only where ALL values are missing in `drinks`.

#### Filling in NaN Values. What's up with all of these NaN continents?

All of these continents are in North America (NA), and, when read in, were misinterpreted as a null or NaN value.

#### Fill in the missing values of the `continent` column using string 'NA'.

# Independent Exercise

#### Using the UFO data ("ufo.csv")

1. Read in the data.
2. Check the shape and describe the columns.
3. Find the four most frequently reported colors.
4. Find the most frequent city for reports in state VA.
5. Find only UFO reports from Arlington, VA.
6. Find the number of missing values in each column.
7. Show only UFO reports where city is missing.
8. Count the number of rows with no null values.
9. Amend column names with spaces to have underscores.
10. Make a new column that is a combination of city and state.

## Split-Apply-Combine

#### `.groupby()` Using the `drinks` DataFrame, calculate the mean beer servings by continent.

#### Describe the `beer` column by continent.

#### Apply Functions to Groups and Combine: Find the count, mean, minimum, and maximumof the beer column by continent.